.hey {
	.v-text-field fieldset,
	.v-text-field .v-input__control,
	.v-text-field .v-input__slot {
		border-radius: 10px !important;
	}
	.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot,
	.v-text-field.v-text-field--enclosed .v-text-field__details {
		padding: 0 20px !important;
	}
	.mdi-magnify::before {
		color: #ef9b15;
	}
	@include phone {
		.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot,
		.v-text-field.v-text-field--enclosed .v-text-field__details {
			height: 39px !important;
		}
	}
}
.form__data {
	.v-text-field fieldset,
	.v-text-field .v-input__control,
	.v-text-field .v-input__slot {
		border-radius: 10px !important;
	}
	.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot,
	.v-text-field.v-text-field--enclosed .v-text-field__details {
		padding: 0 15px !important;
	}
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
	box-shadow: unset !important;
}
.v-text-field.v-input--dense:not(.v-text-field--outlined) .v-text-field__prefix,
.v-text-field.v-input--dense:not(.v-text-field--outlined) .v-text-field__suffix,
.v-text-field.v-input--dense:not(.v-text-field--outlined) input {
	padding: 2px 0 2px !important;
}
.v-input {
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
}
.v-text-field input {
	font-size: 16px !important;
	font-weight: 400 !important;
	line-height: 21px !important;
}

.v-tooltip__content {
	background: white !important;
	padding: 16px 32px 16px 20px !important;
	color: #000 !important;
	font-size: 12px !important;
	font-style: normal !important;
	font-weight: 500 !important;
	line-height: normal !important;
	pointer-events: unset !important;
	box-shadow: 0px 24px 128px 0px rgba(18, 27, 33, 0.3);
}

.v-tooltip__content.menuable__content__active {
	opacity: 1 !important;
}
.v-application ul,
.v-application ol {
	padding-left: 12px !important;
}

li {
	list-style: none;
	margin-bottom: 8px;
	&:last-of-type {
		margin-bottom: 0;
	}
}

li:before {
	content: "\2022";
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -14px;
	top: -5px;
	color: #ef7f1a;
	font-size: 20px;
}
