$c-main: #324552;
$c-white: #fff;
$c-yellow: #fecc01;
$c-orange: #ef7f1a;
$c-gray: #f8fafb;
$c-red: #dc3545;

.red {
	color: $c-red;
	background-color: unset !important;
	border-color: unset !important;
}

@mixin phone {
	@media (max-width: 960px) {
		@content;
	}
}
